<div class="panel panel-primary col-lg-4 col-xs-12" style="margin:5px">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <img class="center-block" src={{element.picture.data.url}} alt="">
                <h3 style="text-align:center">{{element.name}}</h3>
                <button (click)="managePage(element.id)" class="btn btn-primary center-block">Manage</button>
            </div>
        </div>
                
        
    </div>
</div>