<div class="container">
  <div class="row">
      <div class="jumbotron col-xs-12">
          <h1 class="display-3">FitPost</h1>
          <p class="lead">Manage your gym's Facebook presence seamlessly.</p>
          <hr class="my-4">
          <h6>Features:</h6>
          <ul>
            <li>Schedule your programming to be published.</li>
            <li>Post ads and announcements.</li>
          </ul>
          
          <p class="lead">
            <button class="btn btn-login btn-lg pull-right" (click)=logInWithFacebook()><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i> Continue with Facebook</button>
          </p>
        </div>
  </div>
</div>


